<!-- extend from base layout -->
{% from "macros.html" import login_field %}
{% extends "index.html" %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        
        {{ login_field(form.username) }}

        {{ login_field(form.password) }}  
      
        <p>Remember me {{ form.remember }}</p><br>
        {{ form.submit }}
        <br>
        <p>{{ form.recaptcha }}</p>
            <ul>
            {% if form.recaptcha.errors %}
                <li>Are you a robot?</li>
            {% endif %}
            </ul>
  </form>
{% endblock %}
