<!-- extend from base layout -->
{% extends "index.html" %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Username:<br>
          {{ form.username(size=30) }}<br>
          <ul>
          {% for error in form.username.errors %}
              <li>{{ error }}</li>
          {% endfor %}
          </ul>
      </p>
          Password:<br>
      <p>{{ form.password(size=30) }}</p>
          <ul>
          {% for error in form.password.errors %}
              <li>{{ error }}</li>
          {% endfor %}
          </ul>
      <p>Remember me {{ form.remember }}</p><br>
      <p>{{ form.submit }}</p>
      <p>{{ form.recaptcha }}</p>
        <ul>
        {% if form.recaptcha.errors %}
            <li>Are you a robot?</li>
        {% endif %}
        </ul>
  </form>
{% endblock %}
