{% extends 'base.html' %}

{% block container %}
<br>
<div class="gameinfo">
    <ul class="list-group">
        <li id="title" class="list-group-item active">Blackjack AJAX!</li>
        <li id="title" class="list-group-item">Table:</li>
        <li id="game"class="list-group-item">{{ result }}</li>
        <li id="title" class="list-group-item">You:</li>
        <li id="hit" class="list-group-item">{{ hit }}</li>
      </ul>
      <br>
      <button id="addHit" id="addHit" type="button" class="btn btn-primary">Hit!</button>
</div>
{% endblock container %}

